<div class="login-layout sign-in-layout">
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>
  <div class="clear"></div>
  </div>

  <div class="field"><%= f.label :password %>
  <%= f.password_field :password %>
    <div class="clear"></div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field field-remember"><%= f.check_box :remember_me, :class =>"check" %> <%= f.label :remember_me, :class =>"check-field" %><div class="clear"></div></div>
  <% end -%>

  <div class="field forgot-link">
    <%= render "devise/shared/links" %>
  </div>

  <div class="btn field"><%= f.submit "Sign in" %></div>
<% end %>


</div>