<tr id="project_<%=edetailing_status.id%>" class="<%= row_class(index) %> <%= status_class(edetailing_status.state) %>">
  <td class="mark"><%= edetailing_status.mark %></td>
  <td class="product"><%= edetailing_status.product %></td>
  <td class="country"><%= edetailing_status.country %></td>
  <td class="framework"><%= edetailing_status.framework %></td>
  <td class="project_manager"><%= edetailing_status.project_manager %></td>
  <td class="state">
    <span class="tooltip" title="<%= edetailing_status.note %>"><%= estado(edetailing_status.state) %></span></td>
  <td class="date"><%= fecha(edetailing_status.last_change) %></td>
  <td class="box"><%= link_to image_tag('icon-box.png', :class => 'box-project'), edetailing_status.box_link, target: '_blank' %></td>
  <td class="basecamp"><%= link_to image_tag('icon-basecamp.png', :class => 'basecamp-project'), edetailing_status.basecamp_link, target: '_blank' %></td>
  <td class="edit"><%= link_to image_tag('icon-edit.png', :class => 'edit-project'), edit_edetailing_status_path(edetailing_status), remote: true %></td>
  <td class="edit"><%= link_to image_tag('icon-delete.png', :class => 'delete-project'), edetailing_status_path(edetailing_status), method: :delete, data: { confirm: '¿Seguro que quieres eliminar el registro?' }, remote: true %></td>
</tr>